<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <div class="logo">
            <a href="#">Logo</a>
        </div>
        <div class="menu">
            <a href="#">Index</a>
            <a href="#about">About</a>
            <a href="#service">Service</a>
            <a href="#product">Product</a>
            <a href="#contact">Contact</a>
        </div>
    </nav>
    <header class="slider">
        <div class="slider-item active">
            <img src="https://picsum.photos/id/87/1200/600" alt="">
        </div>
        <div class="slider-item">
            <img src="https://picsum.photos/id/17/1200/600" alt="">
        </div>
        <div class="slider-item">
            <img src="https://picsum.photos/id/27/1200/600" alt="">
        </div>
        <div class="slider-item">
            <img src="https://picsum.photos/id/37/1200/600" alt="">
        </div>
        <div class="slider-item">
            <img src="https://picsum.photos/id/47/1200/600" alt="">
        </div>
        <div class="slider-item">
            <img src="https://picsum.photos/id/57/1200/600" alt="">
        </div>
        <div class="slider-nav">
            <a href="#" class="slider-prev"><i class="fa-solid fa-circle-chevron-left fa-2x"></i></i></a>
            <a href="#" class="slider-next"><i class="fa-solid fa-circle-chevron-right fa-2x"></i></i></a>
        </div>
    </header>
    <div id="about">
        <h2>About</h2>
        <div class="container row">
            <div class="col">
                <h3>title</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, porro voluptatem earum nesciunt hic ad ex? Magnam sapiente consequatur expedita possimus quia, alias eum. Explicabo dicta delectus repellat quo reprehenderit.
                </p>
            </div>
            <div class="col">
                <h3>title</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, porro voluptatem earum nesciunt hic ad ex? Magnam sapiente consequatur expedita possimus quia, alias eum. Explicabo dicta delectus repellat quo reprehenderit.
                </p>
            </div>
            <div class="col">
                <h3>title</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, porro voluptatem earum nesciunt hic ad ex? Magnam sapiente consequatur expedita possimus quia, alias eum. Explicabo dicta delectus repellat quo reprehenderit.
                </p>
            </div>
        </div>
    </div>
    <div id="service">
        <h2>Service</h2>
        <div class="container row">
            <div class="col">
                <i class="fa-solid fa-bolt fa-3x"></i>
                <h3>title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, voluptates?</p>
                <a href="#" class="btn modal-btn" data-modal="#service-1">Service 1</a>
            </div>
            <div class="col">
                <i class="fa-solid fa-cloud-arrow-up fa-3x"></i>
                <h3>title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, voluptates?</p>
                <a href="#" class="btn modal-btn" data-modal="#service-2">Service 2</a>
            </div>
            <div class="col">
                <i class="fa-solid fa-code-branch fa-3x"></i>
                <h3>title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, voluptates?</p>
                <a href="#" class="btn modal-btn" data-modal="#service-3">Service 3</a>
            </div>
            <div class="col">
                <i class="fa-solid fa-gauge fa-3x"></i>
                <h3>title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, voluptates?</p>
                <a href="#" class="btn modal-btn" data-modal="#service-4">Service 4</a>
            </div>
        </div>
    </div>
    <div class="modal" id="service-1">
        <div class="modal-overlay modal-close"></div>
        <div class="modal-container">
            <div class="modal-header">
                <h3>Service 1</h3>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet consequuntur accusamus veniam, incidunt voluptatum, minima distinctio sint culpa neque, nesciunt voluptatem est quod ea dolores eligendi perspiciatis mollitia rem quae.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe deleniti, beatae nihil tempora laboriosam est nulla voluptatem magni amet cumque non alias id natus maiores ipsam omnis dolorem. Pariatur, ad?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe deleniti, beatae nihil tempora laboriosam est nulla voluptatem magni amet cumque non alias id natus maiores ipsam omnis dolorem. Pariatur, ad?</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-close">Close</a>
            </div>
        </div>
    </div>
    <div class="modal" id="service-2">
        <div class="modal-overlay modal-close"></div>
        <div class="modal-container">
            <div class="modal-header">
                <h3>Service 2</h3>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet consequuntur accusamus veniam, incidunt voluptatum, minima distinctio sint culpa neque, nesciunt voluptatem est quod ea dolores eligendi perspiciatis mollitia rem quae.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe deleniti, beatae nihil tempora laboriosam est nulla voluptatem magni amet cumque non alias id natus maiores ipsam omnis dolorem. Pariatur, ad?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe deleniti, beatae nihil tempora laboriosam est nulla voluptatem magni amet cumque non alias id natus maiores ipsam omnis dolorem. Pariatur, ad?</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-close">Close</a>
            </div>
        </div>
    </div>
    <div class="modal" id="service-3">
        <div class="modal-overlay modal-close"></div>
        <div class="modal-container">
            <div class="modal-header">
                <h3>Service 3</h3>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet consequuntur accusamus veniam, incidunt voluptatum, minima distinctio sint culpa neque, nesciunt voluptatem est quod ea dolores eligendi perspiciatis mollitia rem quae.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe deleniti, beatae nihil tempora laboriosam est nulla voluptatem magni amet cumque non alias id natus maiores ipsam omnis dolorem. Pariatur, ad?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe deleniti, beatae nihil tempora laboriosam est nulla voluptatem magni amet cumque non alias id natus maiores ipsam omnis dolorem. Pariatur, ad?</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-close">Close</a>
            </div>
        </div>
    </div>
    <div class="modal" id="service-4">
        <div class="modal-overlay modal-close"></div>
        <div class="modal-container">
            <div class="modal-header">
                <h3>Service 4</h3>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet consequuntur accusamus veniam, incidunt voluptatum, minima distinctio sint culpa neque, nesciunt voluptatem est quod ea dolores eligendi perspiciatis mollitia rem quae.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe deleniti, beatae nihil tempora laboriosam est nulla voluptatem magni amet cumque non alias id natus maiores ipsam omnis dolorem. Pariatur, ad?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe deleniti, beatae nihil tempora laboriosam est nulla voluptatem magni amet cumque non alias id natus maiores ipsam omnis dolorem. Pariatur, ad?</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-close">Close</a>
            </div>
        </div>
    </div>
    <div id="product">
        <h2>Product</h2>

        <div class="container row">
            <div class="col">
                <div class="wrapper">
                    <img src="https://picsum.photos/id/24/800/600" alt="">
                    <div class="content">
                        <h3>title</h3>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, odit!
                        </p>
                        <a href="#" class="btn">link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="wrapper">
                    <img src="https://picsum.photos/id/24/800/600" alt="">
                    <div class="content">
                        <h3>title</h3>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, odit!
                        </p>
                        <a href="#" class="btn">link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="wrapper">
                    <img src="https://picsum.photos/id/24/800/600" alt="">
                    <div class="content">
                        <h3>title</h3>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, odit!
                        </p>
                        <a href="#" class="btn">link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="wrapper">
                    <img src="https://picsum.photos/id/24/800/600" alt="">
                    <div class="content">
                        <h3>title</h3>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, odit!
                        </p>
                        <a href="#" class="btn">link</a>
                    </div>
                </div>
            </div>

            <div class="w-100"></div>

            <div class="col">
                <div class="wrapper">
                    <img src="https://picsum.photos/id/24/800/600" alt="">
                    <div class="content">
                        <h3>title</h3>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, odit!
                        </p>
                        <a href="#" class="btn">link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="wrapper">
                    <img src="https://picsum.photos/id/24/800/600" alt="">
                    <div class="content">
                        <h3>title</h3>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, odit!
                        </p>
                        <a href="#" class="btn">link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="wrapper">
                    <img src="https://picsum.photos/id/24/800/600" alt="">
                    <div class="content">
                        <h3>title</h3>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, odit!
                        </p>
                        <a href="#" class="btn">link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="wrapper">
                    <img src="https://picsum.photos/id/24/800/600" alt="">
                    <div class="content">
                        <h3>title</h3>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, odit!
                        </p>
                        <a href="#" class="btn">link</a>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
    <div id="contact">
        <h2>Contact</h2>

        <div class="container row">
            <div class="col">
                <form action="">
                    <div class="form-group">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" name="name" id="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="text" name="phone" id="phone" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="text" name="email" id="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="content" class="form-label">Content</label>
                        <textarea name="content" id="content" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <input type="submit" value="Send" class="btn">
                </form>
            </div>
            <div class="col">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3616.3292781673713!2d121.31224595091841!3d24.98892484617157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34681ee34594ac3f%3A0x8cac39b16aa24a7b!2z5qGD5ZyS54Gr6LuK56uZ!5e0!3m2!1szh-TW!2stw!4v1645494452134!5m2!1szh-TW!2stw" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    <footer>
        <div class="container row">
            <div class="col">
                <ul>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                </ul>
            </div>
            <div class="col sns">
                <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fa-brands fa-instagram fa-2x"></i></a>
                <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
                <a href="#"><i class="fa-brands fa-youtube fa-2x"></i></a>
            </div>
        </div>
        <div class="copyright">
            <a href="#">使用條款</a> |
            <a href="#">隱私權保護政策</a> |
            <span>2022&copy;All Rights Reserved</span>
        </div>
    </footer>
    <a href="#" class="gotop"><i class="fa-solid fa-circle-chevron-up fa-3x"></i></a>

    <script>
        let imgs = document.querySelectorAll('.slider-item');
        let totalImgs = imgs.length;
        let currentIndex = 0;

        let prev = document.querySelector('.slider-prev');
        let next = document.querySelector('.slider-next');

        prev.onclick = function(){
            slider('prev');
        }
        next.onclick = function(){
            slider('next');
        }

        function slider(direction = 'next'){
            if(direction == 'next'){
                if(currentIndex == totalImgs - 1){
                    currentIndex = 0;
                }else{
                    currentIndex++;
                }
            }else{
                if(currentIndex == 0){
                    currentIndex = totalImgs - 1;
                }else{
                    currentIndex--;
                }
            }
            
            console.log(currentIndex);
            document.querySelector('.slider-item.active').classList.remove('active');
            imgs[currentIndex].classList.add('active');
        }

        // setInterval(slider,3000);

        let modalBtns = document.querySelectorAll('.modal-btn');
        for(let modalBtn of modalBtns){
            modalBtn.onclick = function(e){
                let modal = this.dataset.modal;
                document.querySelector(modal).classList.add('active');
                e.preventDefault();
            }
        }
        document.body.onclick = function(e){
            if(e.target.className.indexOf('modal-close') > -1){
                document.querySelector('.modal.active').classList.remove('active');
            }
            e.preventDefault();
        }
    </script>
</body>
</html>