<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <div class="logo">
            <a href="#">Logo</a>
        </div>
        <div class="menu">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
            <a href="#">Link 4</a>
            <a href="#">Link 5</a>
        </div>
    </nav>
    <header>
        <img src="https://picsum.photos/id/98/1600/1000" alt="">
    </header>
    <div id="about">
        <h2>About</h2>
        <div class="container row">
            <div class="col">
                <h3>title</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, porro voluptatem earum nesciunt hic ad ex? Magnam sapiente consequatur expedita possimus quia, alias eum. Explicabo dicta delectus repellat quo reprehenderit.
                </p>
            </div>
            <div class="col">
                <h3>title</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, porro voluptatem earum nesciunt hic ad ex? Magnam sapiente consequatur expedita possimus quia, alias eum. Explicabo dicta delectus repellat quo reprehenderit.
                </p>
            </div>
            <div class="col">
                <h3>title</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, porro voluptatem earum nesciunt hic ad ex? Magnam sapiente consequatur expedita possimus quia, alias eum. Explicabo dicta delectus repellat quo reprehenderit.
                </p>
            </div>
        </div>
    </div>
    <div id="service">
        <h2>Service</h2>
        <div class="container row">
            <div class="col">
                <i class="fa-solid fa-bolt fa-3x"></i>
                <h3>title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, voluptates?</p>
                <a href="#" class="btn">Link</a>
            </div>
            <div class="col">
                <i class="fa-solid fa-cloud-arrow-up fa-3x"></i>
                <h3>title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, voluptates?</p>
                <a href="#" class="btn">Link</a>
            </div>
            <div class="col">
                <i class="fa-solid fa-code-branch fa-3x"></i>
                <h3>title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, voluptates?</p>
                <a href="#" class="btn">Link</a>
            </div>
            <div class="col">
                <i class="fa-solid fa-gauge fa-3x"></i>
                <h3>title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, voluptates?</p>
                <a href="#" class="btn">Link</a>
            </div>
        </div>
    </div>
    <div id="product">
        <h2>Product</h2>

        <div class="container row">
            <div class="col">
                <div class="wrapper">
                    <img src="https://picsum.photos/id/24/800/600" alt="">
                    <div class="content">
                        <h3>title</h3>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, odit!
                        </p>
                        <a href="#" class="btn">link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="wrapper">
                    <img src="https://picsum.photos/id/24/800/600" alt="">
                    <div class="content">
                        <h3>title</h3>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, odit!
                        </p>
                        <a href="#" class="btn">link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="wrapper">
                    <img src="https://picsum.photos/id/24/800/600" alt="">
                    <div class="content">
                        <h3>title</h3>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, odit!
                        </p>
                        <a href="#" class="btn">link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="wrapper">
                    <img src="https://picsum.photos/id/24/800/600" alt="">
                    <div class="content">
                        <h3>title</h3>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, odit!
                        </p>
                        <a href="#" class="btn">link</a>
                    </div>
                </div>
            </div>

            <div class="w-100"></div>

            <div class="col">
                <div class="wrapper">
                    <img src="https://picsum.photos/id/24/800/600" alt="">
                    <div class="content">
                        <h3>title</h3>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, odit!
                        </p>
                        <a href="#" class="btn">link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="wrapper">
                    <img src="https://picsum.photos/id/24/800/600" alt="">
                    <div class="content">
                        <h3>title</h3>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, odit!
                        </p>
                        <a href="#" class="btn">link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="wrapper">
                    <img src="https://picsum.photos/id/24/800/600" alt="">
                    <div class="content">
                        <h3>title</h3>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, odit!
                        </p>
                        <a href="#" class="btn">link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="wrapper">
                    <img src="https://picsum.photos/id/24/800/600" alt="">
                    <div class="content">
                        <h3>title</h3>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, odit!
                        </p>
                        <a href="#" class="btn">link</a>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
    <div id="contact">
        <h2>Contact</h2>

        <div class="container row">
            <div class="col">
                <form action="">
                    <div class="form-group">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" name="name" id="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="text" name="phone" id="phone" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="text" name="email" id="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="content" class="form-label">Content</label>
                        <textarea name="content" id="content" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <input type="submit" value="Send" class="btn">
                </form>
            </div>
        </div>
    </div>
</body>
</html>