* {
    box-sizing: border-box;
    font-family: 'tahoma';
    margin: 0;
    padding: 0;
}
img {
    width:100%;
}

.container {
    width: 1200px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex:1 0 0;
    padding: 15px;
}
h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 15px;
}
p {
    line-height: 1.75em;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn {
    display: inline-block;
    text-decoration: none;
    background-color: #e0ff7b;
    color: #4d6400;
    padding: 8px 20px;
    letter-spacing: 1px;
    border-radius: 5px;
    border:2px solid #80a700;
    font-size: 14px;
    transition: .3s;
}
.btn:hover {
    background-color: #85ad00;
    color: #f2ffc8;
}
.w-100 {
    width: 100%;
}
/* ********************************** */
nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.781);

    display: flex;
    justify-content: space-between;

    position: fixed;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63);
    backdrop-filter: blur(3px);
    z-index: 9999;
}

nav a {
    color: #fff;
    display: inline-block;
    padding: 18px 15px;
    text-decoration: none;
    transition: .6s;
    letter-spacing: 1px;
}
nav a:hover {
    background-color: #fff78a;
    color: #222;
}
/* header */

header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* about */
#about {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #f7ffdc;
}

#about h3 {
    margin-bottom: 15px;
}

/* service */
#service {
    padding-top: 150px;
    padding-bottom: 150px;
}
#service .col {
    text-align: center;
}
#service h3 {
    margin-top:15px;
    font-size: 1.6em;
}
/* product */
#product {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #f7ffdc;
}
#product .content {
    /* border:1px solid #8d8d8d; */
    border-top: 0;
    padding: 15px;
}
#product .wrapper {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.219);
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
}
#product .wrapper:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.219);
}

/* contact */
#contact {
    padding-top:150px;
    padding-bottom:150px;
}
.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4d6400;
    outline: 0;
    transition: .5s;
}
.form-control:focus {
    border: 1px solid #84a517;
    background-color:#e0f891
}
.form-group {
    margin-bottom: 15px;
}
.form-label {
    display: inline-block;
    margin-bottom: 5px;
}

/* footer */
footer {
    background-color: #222;
    padding-top: 50px;
}
footer a {
    color: #eee;
}
footer a:hover {
    color:#cafd22;
}
footer li {
    list-style: none;
    line-height: 1.75;
}
.sns {
    display: flex;
    justify-content: space-around;
    align-self: center;
}
.copyright {
    margin-top: 40px;
    background-color:#131313;
    padding: 15px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
/* gotop */

.gotop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    color:#80a700;
    z-index: 999;
}
/* slider */
/* .slider {
    width: 100%;
    height: 800px;
    margin: auto;
    position: relative;
}
.slider-item {
    position: absolute;
    width: 100%;
    height:100%;
    opacity: 0;
    z-index: -1;
    transition: .6s;
}
.slider-item.active {
    opacity: 1;
    z-index: 10;
}
.slider-nav {
    position:absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.562);
    z-index: 99;
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(5px);
}
.slider-nav a {
    color: #ffffff;
    padding: 0 15px;
} */

/* Modal */
.modal {
    display: none;
}
.modal.active {
    display: block;
    animation: fade-in 1s;
}
@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}
.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.753);
    left:0;
    top:0;
}
.modal-container {
    position: fixed;
    background-color: white;
    width: 70%;
    max-width: 750px;
    margin: auto;
    padding: 30px;
    border-radius: 5px;
    top: 15%;
    left: 0;
    right: 0;
    z-index: 999;
}

/* owl carousel */
.owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.owl-dots {
    position: absolute;
    bottom:0 ;
    width: 100%;
}
.owl-theme .owl-nav [class*="owl-"] {
    border-radius: 50%;
    background-color: #222;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
