.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #aaa;
}
.carousel-indicators {
    bottom: -54px;
}

/* collection */
#collection {
    padding-top: 100px;
}
.collection-item {
    height: 400px;
}
.collection-item img {
    height: 100%;
    object-fit: cover;
    object-position:center;
}
.collection-item a {
    transition: .3s;
}
.collection-item a:hover {
    opacity: .6;
}
/* event */
#event {
    padding-top: 100px;
}
.event-item a {
    transition: .3s;
}
.event-item a:hover {
    opacity: .6;
}
/* info */
#info {
    padding-top: 100px;
}
.info-item a {
    transition: .3s;
}
.info-item a:hover {
    opacity: .6;
}
/* footer */
footer {
    padding-top: 200px;
    padding-bottom: 50px;
}
footer a {
    text-decoration: none;
    color: #444444;
    font-size: 14px;
    line-height: 2.5;
}
footer a:hover {
    color: #bdbdbd;
}