.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #aaa;
}
.carousel-indicators {
    bottom: -54px;
}

/* collection */
#collection {
    padding: 100px 0;
}
.collection-item {
    height: 400px;
}
.collection-item img {
    height: 100%;
    object-fit: cover;
    object-position:center;
}
.collection-item a {
    transition: .3s;
}
.collection-item a:hover {
    opacity: .6;
}
/* event */
#event {
    padding: 100px 0;
}
.event-item a {
    transition: .3s;
}
.event-item a:hover {
    opacity: .6;
}