.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #aaa;
}
.carousel-indicators {
    bottom: -54px;
}
/* search */
#search {
    width: 100px;
    font-size: 13px;
    padding: 0;
    outline: 0;
    color: #aaa;
    border: 0;
}
#search:focus {
    outline: 1px solid #aaa;
}
/* collection */
#collection {
    padding-top: 100px;
}
.collection-item {
    height: 400px;
}
.collection-item img {
    height: 100%;
    object-fit: cover;
    object-position:center;
}
.collection-item a {
    transition: .3s;
}
.collection-item a:hover {
    opacity: .6;
}
/* event */
#event {
    padding-top: 100px;
}
.event-item a {
    transition: .3s;
}
.event-item a:hover {
    opacity: .6;
}
/* info */
#info {
    padding-top: 100px;
}
.info-item a {
    transition: .3s;
}
.info-item a:hover {
    opacity: .6;
}
/* footer */
footer {
    padding-top: 200px;
    padding-bottom: 50px;
}
footer a {
    text-decoration: none;
    color: #444444;
    font-size: 14px;
    line-height: 2.5;
}
footer a:hover {
    color: #bdbdbd;
}
.sns a{
    position: relative;
}
/* gotop */
.gotop {
    width: 100px;
    text-align: center;
    display: block;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 999;
    color: #5c5c5c;
    text-decoration: none;
}
.gotop:hover {
    color: #9b9b9b;
}
/* sidebar */
.sidebar .sidebar-title a{
    font-size: 13px;
    font-weight: bold;
}
.sidebar a {
    font-size: 12px;
    text-decoration: none;
    color: #222;
}
.sidebar ul ul a:hover {
    color: #999;
}
.recommend ul a {
    color: #c8004d;
}

/* .sidebar li a{
    padding-left: 10px;
    background-image: url('images/arrow.svg');
    background-repeat: no-repeat;
} */

.sidebar li {
    list-style-type: '\203A';
}
/* product */
.product-item {
    font-size: 12px;
}
/* .product-item a{
    transition: .5s;
}
.product-item a:hover{
    opacity: .6;
} */
.product-overlay {
    z-index: 999;
    background-color: #fa0;
    opacity: 0;
    transition: .3s;
}
.product-item a:hover .product-overlay {
    opacity: 1;
}